.themeSwitch {
  background: transparent;
  color: var(--color-accent);
  border-color: transparent;

  &:hover,
  &:focus {
    background: transparent;
    color: var(--color-text);
    border-color: transparent;
  }
  [data-target="dark"] {
    display: none;
  }

  [data-target="light"] {
    display: block;
  }

  [data-theme="dark"] & {
    [data-target="dark"] {
      display: block;
    }

    [data-target="light"] {
      display: none;
    }
  }
}
