@function is-list($var) {
  @return type-of($var) == "list";
}

@mixin expose-props($list, $prefix, $context: ":root") {
  #{$context} {
    @each $key, $val in $list {
      @if (is-list($val)) {
        $nestedList: $val;
       
        @each $nestedVal in $nestedList {
          $i: index($nestedList, $nestedVal);
          --#{$prefix}-#{"" + $key}-#{"" + $i}: #{$nestedVal};
        }
      } @else {
        --#{$prefix}-#{"" + $key}: #{$val};
      }
    }
  }
}
