@import "./generated/colors.scss";
@import "./utils/expose.props.scss";

@include expose-props($colors, color);
@include expose-props($otherTheme, color, '[data-theme="dark"]');


:focus {
  outline-color: var(--color-accent);
  outline-style: dashed;
  outline-offset: 3px;
}

body {
  font-family: 'Jost', sans-serif;
  background: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .2s;
  

  ::selection {
    background: var(--color-text);
    color: var(--color-background);
  }
}

a, button {
  color: var(--color-accent);
  transition: .2s;

  &:hover {
    color: var(--color-highlight)
  }
}
